{% extends 'base.html' %}

{% block title %}User Information {% endblock %}

{% block content %}

<button type="submit"><a href="/leads">Back to home</a></button>
    <h1 style="color:red;">Student info:<h1>
    <h2>Name:{{ lead.ismi }}</h2>
    <h2>Surname:{{ lead.familiyasi }}</h2>
    <h2>Age:{{ lead.yoshi }}</h2>
    <button type="submit"><a href="/leads/{{ lead.pk }}/update">Update</a></button>
    <button type="submit"><a href="/leads/{{ lead.pk }}/delete">Delete</a></button>
    
{% endblock %}