{% extends 'base.html' %}

{% block title %}Information {% endblock %}

{% block content %}

<h2 style="color:#004466;"> All students</h2>
{% comment %} <h1> Subsystem <h1> {% endcomment %}
{% comment %} {{ leads }} {% endcomment %}
<button type="submit"><a href="{% url 'leads:lead-create' %}">Create student</a></button>
<ul>
{% for lead in leads %}
    {% comment %} <li>{{ lead }}</li> {% endcomment %}
    <div class="mijoz">
        {% comment %} <a href="/leads/{{lead.pk}}/">{{ lead.ismi }} {{ lead.familiyasi }}</a> {% endcomment %}
        <a href="{% url 'leads:detallar' lead.pk %}">{{ lead.ismi }} {{ lead.familiyasi }}</a>
        {{ lead.yoshi }}
    </div>
    
    
{% endfor %}
</ul>

{% endblock %}
