{% extends 'base.html' %}

{% block title %}Information {% endblock %}

{% block content %}

    <button type="submit"><a href="/leads">Back to home</a></button>
    <h1 style="color:red;">Update student: <h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send</button>
            {% comment %} Enter your name <input type="text">
            Enter your surname <input type="text">
            Enter your age <input type="number"> {% endcomment %}
        </form>



{% endblock %}